/* html {
    box-sizing: border-box;
} */

*,
*::before,
*::after {
box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    
}
ul{
    margin: 0;
    padding-left: 0;
}
img{
    display: block;
}



:root {
        --main-bg-color: #FFFFFF;
        --footer-bg-color: #2F303A;

        --title-color: #212121;
        --main-text-color: #757575;
        --hero-heading-color: #FFFFFF;
        --hero-bg-color: #C4C4C4;
        --hero-button-bg: #188CE8;
        --team-bg: #F5F4FA;
        --section-team-bg: #FFFFFF;

        --active-color: #2196F3;
        --active-color-letters: #FFFFFF;

        --logo-header-color: #000000;
        --logo-footer-color: #FFFFFF;

        --address-link-color: #757575;
        --address-maplink-color: #FFFFFF;
        --footer-address-link-color: rgba(255, 255, 255, 0.6);
        --contacts-link-color: #757575;

        --nav-button-color: #212121;
        --portfolio-bt: #212121;
        --portfolio-bt-bg: #F5F4FA;

        --team-name-color: #212121;

        --mb-text: 10px;
}

/* -----------------------------main body------------ */
body {
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.list {
    list-style: none;
    text-decoration: none;

}
.container {
width: 1200px;
margin: auto;
padding-left: 15px;
padding-right: 15px;
/* outline: 1px solid tomato ; */
/* padding-top: 24px;
padding-bottom: 25px; */
}
/* --------------------header-logo----------------------- */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);

    display: block;
    padding-top: 24px;
    padding-bottom: 25px;

}

.logo>span {
    color: var(--logo-header-color);
}


/*-------------------------- footer styles ---------------------*/

.footer-space {
    background-color: var(--footer-bg-color);
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 0;
    display: flex;

    align-items: flex-start ;
    
    
    
}
/* ---------------------------footer-logo---------------------- */
.footer-logo {
    font-family: 'Raleway';
    font-style:normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--active-color);

    display: inline-block;
    padding-left: 0;
    margin-bottom: 20px;

}

.footer-logo>span {
    color: var(--logo-footer-color);
}
/* -------------------------footer address links----------------- */
.address .link {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    color: var(--footer-address-link-color) ;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;

    padding-left: 0;
   


}

.address-link {
    color: var(--address-maplink-color);
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-bottom: 9px;
    display: block;
    
}

.address .address-map:not(:last-child){
    margin-bottom: 9px;
}

.address .link:hover,
.address .link:focus,
.address-link:hover,
.address-link:focus {
    color: var(--active-color);
    text-decoration: none;
}
.footer-link-word{
    color: #FFFFFF;
    font-style:normal;
    font-family: 'Roboto';
    
    text-transform: uppercase;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;


    margin-bottom: 20px;
}
.footer-soc-link {
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
}
.footer-net{
    fill: #FFFFFF;
}

.footer-link-item+.footer-link-item {
    margin-left: 10px;
}

.footer-links {
    display: flex;
    
}
.networks-footer {

   display: inline-block;
   align-items: baseline;
   /* background-color: tomato; */
   position: inherit;
   margin-top: 12px;
  
}
.footer-content{
    float: left;
    align-items: baseline;
}

.footer-soc-link:hover{
    background-color: var(--active-color) ;
}
.address-links {
    display: inline-block;
    /* align-items: baseline; */
}
.address-links{
    margin-right: 70px;
}

/* --------------------------header main navigation -----------------*/
.header{
    border-bottom: 1px solid #ECECEC;
}


.header .container{
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    padding-left: 93px;

}
.site-nav .item{
    display: block;
    text-align: center;
}
.site-nav .link{
padding-bottom: 32px;
padding-top: 32px;
/* background-color: tomato; */
}
.site-nav .item:not(:last-child){
margin-right: 50px;



}
.mail-icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
    color: #757575;
    }
.tel-icon{
width: 10PX;
height: 16PX;
margin-right: 10px;
fill: #757575;
}

.page-nav{
    display: flex;
    
}

.site-nav .link{
    display: block;

    color: var(--nav-button-color);
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    cursor: pointer;
    
   }
  .contacts.list{
      display: inline-flex;
  }

   
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
    color: var(--active-color);
    }
    .contacts .link:hover,
    .contacts .link:focus {
        color: var(--active-color);
    }

.mail:hover .mail-icon {
fill: var(--active-color);}

.tel:hover .tel-icon {
    fill: var(--active-color);
}
    /* .mail-icon:hover,
    .mail-icon:focus{
        fill: var(--active-color);
    } */
.contacts .link{ 
    color: var(--contacts-link-color);
    font-family:inherit;
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    
}
/* .link.mail:hover,
.link.mail:focus
{
    fill: currentColor;
} */

/* .contacts .link:hover,
.contacts .link:focus {
    color: var(--active-color);
} */

.contacts{
    margin-left: auto;
    align-items: center;
    
}
.contacts .mail{
    margin-right: 50px;
    
    
}
/* .link{ */
    display: flex;
}
/* .link.mail::before{ */
    
    content: "";
    display: inline-block;
    width: 16px;;
    height: 12px;
    /* background-color: red; */
    /* background-image: url(../images/mail.svg); */
    background-size: contain;
    margin-right: 10px;
    fill: currentColor;
    
  
}

.link.tel::before{
    display: inline-block;
    /* content: "";
    margin-right: 10px;
    width: 10px;
    height: 16px;
    background-size: contain;
    justify-content: center;
    background-image: url(../images/phone.svg); */
}

 /*--------------------------------hero sections ------------------ */

.hero-heading{
    background-color: var(--hero-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
    url(../images/heroBG-pic.jpg);
    background-repeat: no-repeat;
    width: 1600px;
    /* background-position: center; */
    margin-left: auto;
    margin-right: auto;
    
    
}
.heading{
    color: var(--hero-heading-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    line-height: 1.36;
    font-weight: 900;
    font-size: 44px;

    width: 696px;
    margin-left: auto;
    margin-right: auto;
   
    margin-bottom: 30px;
 

     
   
}
.hero-button{
    /* display: inline-block; */
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
    min-width: 200px;
    align-items: center;
    
    font-family: inherit;
    color: var(--active-color-letters);
    background-color: var(--active-color);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    
    cursor: pointer;
      
    
}
.hero-button:hover,
.hero-button:focus{
    background-color: var(--hero-button-bg);
}

/* -------------------our goals text------------ */

.text.list{
    display: flex;

}
.container-goals{
    display: flex;
    content: "";

    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    padding: 25px 100px;
}

.text-content{
    
    max-width: 270px;
       /* outline: solid 1px black; */
    
    /* background-color:#F5F4FA ; */
   
}
.container-goals:not(:last-child){
    margin-right: 30px;
}


.text-caption{
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: var(--mb-text);
    
}
.text-content{
    line-height: 1.71;    
    letter-spacing: 0.03em;
    font-size: 14px;
    
}
.title-text:hover{
    fill: #188CE8;
    
}

/* ---------------what we are doing----------------- */
.work-text{
    /* display: inline-block; */
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);

    margin-bottom: 50px;
}
.pictures{
    display: flex;
    padding-bottom: 94px;
    
}
.pictures .pictures-img:not(:last-child){
    margin-right: 30px;
}
/* ---------------------our team------------------- */
.section.team{
    background-color:var(--team-bg);
    
}

.our-team-pic{
    display: flex;
    margin-top: 50px;

}
.our-team-pic .box:not(:last-child){
    margin-right: 30px;
}
.section-team .box{
    background-color:var(--section-team-bg);
}
.team-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--title-color);
}
.team-names{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--team-name-color);

    margin-bottom: var(--mb-text);
   
}
.box{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
}
.box-text{
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.team-prof{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    
}
.team-net{
    fill: #AFB1B8;
}
.team-net-links{
    display: flex;
    justify-content: center;
}
.team-links{
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
}
.team-links:hover,
.team-links:focus{
background-color: #2196F3;

}
 .team-link-items:hover .team-net,
 .team-link-items:focus .team-net{
fill: #fff;
    
}

.team-link-items+ .team-link-items{
    margin-left: 10px;
}
/* ---------------------------our clients------------------------- */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.client-list{
display: flex;
justify-content: center;
align-items: center;
}
.clients-net{
    fill: #AFB1B8;
}      

.clients-list+ .clients-list{
    margin-left: 30px;
}
.client-heading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
    margin-bottom: 50px;
}
.client-button{
    display: inline-block;
    padding: 0px 0px;
    background: #FFFFFF;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 92px;
}
.client-button:hover,
.client-button:focus{
    border-color:#2196F3;
    cursor: pointer;
    fill: currentColor;
    fill: #2196F3;
}
.client-button:hover .clients-net{
    fill: #2196F3;
}




/*------------------------- Portfolio page ------------*/

.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.list-button{
   
margin-bottom: 50px;
   
}
.list.list-button{
    
    display: flex;
    justify-content: center;
}

.button-portfolio{
   display: block;
    background-color: var(--portfolio-bt-bg);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--portfolio-bt);

    cursor: pointer;
    margin: 0;
    border: 0;
    padding: 6px 22px;
    border-radius: 4px;
    /* float: left; */


}
.button-item:not(:last-child){
    padding-right: 8px;
}
.button-portfolio:hover,
.button-portfolio:focus{
      
    color: var(--active-color-letters);
    background-color: var(--active-color);
}
.button-portfolio.current{
    background: var(--active-color);
    color: var(--active-color-letters);
}
/* ------------------portfolio content--------------------------------- */
.profile.list{
    /* margin: 0; */
    display: flex;
    flex-wrap: wrap;
}
.title-text{
    
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.profile .profile-box:nth-child(3n) {
    margin-right: 0;
}

.profile .profile-box:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.profile-box{
    display: block;
    background-color: var(--section-team-bg);
    /* width: 370px; */
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.profile-box-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);

    margin-bottom: 4px;
    
}
.profile-box-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--contacts-link-color);
  
    letter-spacing: 0.03em;
}
.profile-card{
    display: block;
    text-decoration: none;
}
.profile-card:hover{
box-shadow: 1px
4px 6px rgba(0, 0, 0, 0.16),
0px 4px 4px rgba(0, 0, 0, 0.06),
0px 1px 1px rgba(0, 0, 0, 0.12);
}
